<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x_A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListProduct</display-name>
    <servlet-name>ListProduct</servlet-name>
    <servlet-class>controller.Product.ListProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProduct</servlet-name>
    <url-pattern>/ListProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>controller.Product.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCart</display-name>
    <servlet-name>InsertCart</servlet-name>
    <servlet-class>controller.InsertCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCart</servlet-name>
    <url-pattern>/InsertCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProduct</display-name>
    <servlet-name>DetailProduct</servlet-name>
    <servlet-class>controller.DetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProduct</servlet-name>
    <url-pattern>/DetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pay</display-name>
    <servlet-name>Pay</servlet-name>
    <servlet-class>controller.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNumber</display-name>
    <servlet-name>EditNumber</servlet-name>
    <servlet-class>controller.EditNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNumber</servlet-name>
    <url-pattern>/EditNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>adminController.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>adminController.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>adminController.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>adminController.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
</web-app>